<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAOCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0179C9C01C3E9B0100B31543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0179C9D41C3E9B0100B31543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0179C9DF1C3E9B0100B31543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
